@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #292929;
}

.section2 {
    background-color: #9d3636;
}

.section3 {
    background-color: #708f75;
}

.section4 {
    background-color: #4a6b80;
}

.section5 {
    background-color: #292929;
}

section div {
    font-family: "Yusei Magic",sans-serif;
    font-style: normal;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

span {
    font-size: 4em;
    font-style: normal;
    color: #fff;
}

a {
    color: lightcoral;
    text-decoration: underline;
}

span > a:hover {
    color: white;
}

span > a:active {
    color: #4a6b80;
}


.regjistrohu-container > a {
    color: black;
    cursor: pointer;
    background: whitesmoke;
    border-radius: 15px;
    padding: 5px 15px;
    display: inline-block;
    margin: 10px 5px;
    font-size: 0.9em;
}

.regjistrohu-container > a:hover {
    background: black;
    color: white;
}

.subtitle {
    display: block;
    font-size: 34px;
    margin-top: 5px;
}
